# virtual environment
.venv

# slide
lab_1/slides/Chapter 1. Introduction to CVIP.pdf
lab_2/slides/Chapter2. ImageProcessingMethods_part1 .pdf
lab_2/slides/Chapter2. ImageProcessingMethods_part2.pdf

# images
lab_4/assets
# documentation