# vitual enviroment
.venv

# slide
lab 1/slide/Chapter 1. Introduction to CVIP.pdf
lab 2/slide/Chapter 2. ImageProcessingMethods_part1.pdf
lab 2/slide/Chapter 2. ImageProcessingMethods_part2.pdf

# docker
*Dockerfile
*.dockerignore

# documentation